In [99]:
empty_dict = {}
empty_dict

{}

In [100]:
my_dict1 = {
   'name' :'john',
   'age' : 34,
   'city' : 'Delhi'
}   
my_dict1

{'name': 'john', 'age': 34, 'city': 'Delhi'}

In [101]:
for key in my_dict1.keys():
    print(key,":", my_dict1.get(key))

name : john
age : 34
city : Delhi

In [102]:
my_dict2 = dict()
my_dict2

{}

In [103]:
my_dict2["name"] = "Joseph"
my_dict2

{'name': 'Joseph'}

In [104]:
my_dict2['city'] = 'calcutta'
my_dict2

{'name': 'Joseph', 'city': 'calcutta'}

In [105]:
my_dict2[29] = 29

In [106]:
my_dict2.pop(29)
my_dict2

{'name': 'Joseph', 'city': 'calcutta'}

In [107]:
my_dict2['name']

'Joseph'

In [108]:
my_dict2['state'] = 'west bengal'
my_dict2

{'name': 'Joseph', 'city': 'calcutta', 'state': 'west bengal'}

In [109]:
my_dict2['state'] = 'Karnataka'
my_dict2['city'] = 'Bellary'
my_dict2

{'name': 'Joseph', 'city': 'Bellary', 'state': 'Karnataka'}

In [110]:
del my_dict2['state']
my_dict2

{'name': 'Joseph', 'city': 'Bellary'}

In [111]:
my_dict2.get('name')

'Joseph'

In [112]:
#retrieves default value if key/val is not found.
my_dict2.get('job','unknown')

'unknown'

In [113]:
my_dict2.keys() # return all dictionary keys.

dict_keys(['name', 'city'])

In [114]:
my_dict2.values() # return all dictionary values.

dict_values(['Joseph', 'Bellary'])

In [115]:
my_dict2.items() # Return key-value pairs as tuples.

dict_items([('name', 'Joseph'), ('city', 'Bellary')])

In [116]:
word_cnt = {}
text = "Hello Hello Hello !!! This is Jimmy from USA, Charlotte in North Carolina. " \
"I am a hardware engineer working in NVIDIA technologies. Hello I have 12 years of experience in " \
"Python, Java and JavaScript skills."
for word in text.split() :
    print("key-->",word," , value -->", word_cnt.get(word,0))
    word_cnt[word] = word_cnt.get(word,0) + 1

word_cnt

key--> Hello  , value --> 0
key--> Hello  , value --> 1
key--> Hello  , value --> 2
key--> !!!  , value --> 0
key--> This  , value --> 0
key--> is  , value --> 0
key--> Jimmy  , value --> 0
key--> from  , value --> 0
key--> USA,  , value --> 0
key--> Charlotte  , value --> 0
key--> in  , value --> 0
key--> North  , value --> 0
key--> Carolina.  , value --> 0
key--> I  , value --> 0
key--> am  , value --> 0
key--> a  , value --> 0
key--> hardware  , value --> 0
key--> engineer  , value --> 0
key--> working  , value --> 0
key--> in  , value --> 1
key--> NVIDIA  , value --> 0
key--> technologies.  , value --> 0
key--> Hello  , value --> 3
key--> I  , value --> 1
key--> have  , value --> 0
key--> 12  , value --> 0
key--> years  , value --> 0
key--> of  , value --> 0
key--> experience  , value --> 0
key--> in  , value --> 2
key--> Python,  , value --> 0
key--> Java  , value --> 0
key--> and  , value --> 0
key--> JavaScript  , value --> 0
key--> skills.  , value --> 0

{'Hello': 4,
 '!!!': 1,
 'This': 1,
 'is': 1,
 'Jimmy': 1,
 'from': 1,
 'USA,': 1,
 'Charlotte': 1,
 'in': 3,
 'North': 1,
 'Carolina.': 1,
 'I': 2,
 'am': 1,
 'a': 1,
 'hardware': 1,
 'engineer': 1,
 'working': 1,
 'NVIDIA': 1,
 'technologies.': 1,
 'have': 1,
 '12': 1,
 'years': 1,
 'of': 1,
 'experience': 1,
 'Python,': 1,
 'Java': 1,
 'and': 1,
 'JavaScript': 1,
 'skills.': 1}

In [117]:
# Nested Dictionaries Key --> String , value --> another dicionary with Key-value pairs
employees = {
  'emp_1' : {'name': 'Joseph', 'city': 'Mangalore', 'state': 'Karnataka'},
  'emp_2' : {'name': 'John', 'city': 'Delhi', 'state': 'Delhi'},
}
employees

{'emp_1': {'name': 'Joseph', 'city': 'Mangalore', 'state': 'Karnataka'},
 'emp_2': {'name': 'John', 'city': 'Delhi', 'state': 'Delhi'}}

In [123]:
for emp in employees:
    print("----------------Employee Dict--------------------------")
    print("Key : ", emp, " Value :", employees.get(emp))
    employe_dets = employees.get(emp)
    print("---------------Emp Details---------------------------")
    for emp_det in employe_dets:
        employe_dets.get(emp_det)
        print("Key : ", emp_det, " Value :", employe_dets.get(emp_det))

----------------Employee Dict--------------------------
Key :  emp_1  Value : {'name': 'Joseph', 'city': 'Mangalore', 'state': 'Karnataka'}
---------------Emp Details---------------------------
Key :  name  Value : Joseph
Key :  city  Value : Mangalore
Key :  state  Value : Karnataka
----------------Employee Dict--------------------------
Key :  emp_2  Value : {'name': 'John', 'city': 'Delhi', 'state': 'Delhi'}
---------------Emp Details---------------------------
Key :  name  Value : John
Key :  city  Value : Delhi
Key :  state  Value : Delhi