list and tuples are ordered

dictionaires: key value pair

In [ ]:
a = (1,2,3,4,5)
b = (6,7,8,9)

a = a + b
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
dict = {"name": "nikkhil", "age": 36, "country": "india", "name":"garg"}
print(dict)

{'name': 'garg', 'age': 36, 'country': 'india'}

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

In [ ]:
id(t1)

132089376932992

In [ ]:
t1 = t1 + t2
id(t1)

132089376863136

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]

#add 2 to each number and then print result

i = 0 #iterator

while(i < len(num)):#defining the condition is based on iterator variable
    print(num[i]+2) #define your operation  by connecting the iterator with the sequence
    i += 1 #increment

3
4
5
6
7
8
9
10
11
12

In [ ]:
for i in num:
    print(i+2)

3
4
5
6
7
8
9
10
11
12

In [ ]:
for i in num:
    print(i+2,end=" ")

3 4 5 6 7 8 9 10 11 12

Conditional Statements

In [ ]:
x = 15
y = 18

#first condition will always start from if
if x > y:
  print("x is greater than y") #if above condition is true
elif x < y:
  print("x is less than y")
else:
    print("y is equal to x")
#else will always come in last

x is less than y

In [ ]:
# If else statement
a=18

if(a<10):
    print("Less than 10")
elif(10<=a<=25):
    print("In between 10 and 25")
else:
    print("Greater than 25")

In [ ]:
# If else statement
a=18

if(a<10):
    print("Less than 10")
else:
    print("Greater than or equal to 10")

Greater than or equal to 10

develop a conditional block

marks =

if your marks are less than 40 then I want you to print a message Fail

between 40 and 60, Average

between 60 - 80, excellent

between 80-95, outstanding

above 95, You will be admitted in a Delhi University College

In [ ]:
marks = 60

#first condition starts with if keyword

if(marks<40):
    print("Fail")
elif(40<=marks<=60):
    print("Average")
elif(60<marks<=80):
    print("Excellent")
elif(80<marks<=95):
    print("Outstanding")
else:
    print("You will be admitted in a Delhi University College")

In [ ]:
a = 8
print("okay") if a < 10 else print("bye")

okay

In [ ]:
#and
a = 200
b = 33
c = 350
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
#or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
#Nested If
#You can have if statements inside if statements, this is called nested if statements.

x = 12

#outer and inner block combination
#inner block will activate only if outer block condition is satisfied

if x < 10:#outer block/condition/case one
    print("below ten,")#outer block operation
    if x > 5:#inner block
        print("and also above 5")
    else:
        print("but not above 5")
elif 10<=x<20: #case 2, outer block no. 2
    print("Above ten")
    if x > 15:
        print("number above 15")
    elif x==15:
        print("the number is equal to 15")
    else:
        print("below 15")

Above ten
below 15

text File handling in python

In [ ]:
z = open("worktodo.txt")
#the file is opened in read mode by default

In [ ]:
z = open("/content/worktodo.txt")
#the file is opened in read mode by default

In [ ]:
print(z.read()) #read the entire content of text file

Hello, my name is Nikkhil garg. I am your instructor and mentor for data science and machine learning course. Hope you are having a wonderful day.

Its a pleasure to be with you and become part of your learning environment. Anything you wish to ask and talk, do let me know.

I am all there.

In [ ]:
z.close()

In [ ]:
z = open("worktodo.txt")
#the file is opened in read mode by default

In [ ]:

print(z.readline())

Hello, my name is Nikkhil garg. I am your instructor and mentor for data science and machine learning course. Hope you are having a wonderful day.

In [ ]:
z.close()

In [ ]:
z = open("worktodo.txt")
#the file is opened in read mode by default

In [ ]:
print(z.readline())
print(z.readline())
print(z.readline())

Hello, my name is Nikkhil garg. I am your instructor and mentor for data science and machine learning course. Hope you are having a wonderful day.



Its a pleasure to be with you and become part of your learning environment. Anything you wish to ask and talk, do let me know.

In [ ]:
print(z.readline())

In [ ]:
z.close()

pen function: Filename (pwd), mode mention the complete address of the file

Read : "r" #default

Write: "w"

Append: "a"

Create: "x"

text mode and the binary (images)

In [ ]:
z = open("worktodo.txt", "a") #open file in append mode
#the file is opened in read mode by default

z.write("\nI hope all of you are practicing well")

z.close()

z = open("worktodo.txt")

print(z.read())

z.close()

Hello, my name is Nikkhil garg. I am your instructor and mentor for data science and machine learning course. Hope you are having a wonderful day.

Its a pleasure to be with you and become part of your learning environment. Anything you wish to ask and talk, do let me know.

I am all there.
I hope all of you are practicing well
I hope all of you are practicing well

In [ ]:
z = open("worktodo.txt", "w") #open file in append mode
#the file is opened in read mode by default

z.write("\nI wish you all the best for your future")

z.close()

z = open("worktodo.txt")

print(z.read())

z.close()

I wish you all the best for your future

In [ ]:
z = open("worktodo.txt",'a')
z.write("\ni love india ")
z.close() # this is wrong which i corrected later
z = open("worktodo.txt",'r')
print(z.read())

I wish you all the best for your future
i love india
i love india
i love india
i love india
i love india

In [ ]:
f = open("worktodo.txt")

for x in f.readlines():
    print(x)

I wish you all the best for your future

i love india

i love india

i love india

i love india

i love india

list comprehension

In [ ]:
#numbers = [1,2,3,4,5,6,7,8]

def get_even(numbers):
  for num in numbers:
    if num % 2 == 0:
      print(num)

get_even([1, 2, 3, 4, 5, 6])

2
4
6

In [ ]:
#print the even numbers from a sequence, condition number % 2 == 0
def get_even(numbers):
  even_nums = [num for num in numbers if num % 2==0] #list comrephension
  return even_nums

get_even([1, 2, 3, 4, 5, 6])

[2, 4, 6]

In [ ]:
#print the even numbers from a sequence, condition number % 2 == 0
def get_even(numbers):
  print([num for num in numbers if num % 2==0]) #list comrephension

get_even([1, 2, 3, 4, 5, 6])

[2, 4, 6]

In [ ]:
f = open("worktodo.txt")
content = f.read()
for i in content:
    print(i)

I

w
i
s
h

y
o
u

a
l
l

t
h
e

b
e
s
t

f
o
r

y
o
u
r

f
u
t
u
r
e


i

l
o
v
e

i
n
d
i
a



i

l
o
v
e

i
n
d
i
a



i

l
o
v
e

i
n
d
i
a



i

l
o
v
e

i
n
d
i
a



i

l
o
v
e

i
n
d
i
a

In [ ]:
f = open("worktodo.txt")
content = f.read().split()   # split into words
for word in content:
    print(word, end=" ")     # print words on one line with spaces
f.close()

I wish you all the best for your future i love india i love india i love india i love india i love india

In [ ]:
f = open("worktodo.txt")

for line in f.readlines():
    print(line.strip())

f.close()

I wish you all the best for your future
i love india
i love india
i love india
i love india
i love india

Errors & Exceptions

**Type error, value error, syntax error, not implemented, out of index, key error, indentation error, attribute error, file not found error, variable not defined, name error, module not found error**

In [ ]:
x

NameError: name 'x' is not defined

In [ ]:
import xghk

ModuleNotFoundError: No module named 'xghk'

Common Built-in Exceptions:

ZeroDivisionError: Occurs when dividing by zero.

NameError: When a local or global name is not found.

TypeError: Passing an object of an inappropriate type.

IndexError: When an index is not found in a sequence.

KeyError: When a dictionary key is not found.

FileNotFoundError: When a file or directory is requested but doesn't exist.

Handling Exceptions with try and except:

Python uses try and except blocks to catch and handle exceptions.

In [ ]:
3/0

ZeroDivisionError: division by zero

In [ ]:
print(Tax)

NameError: name 'Tax' is not defined

len(nikkhil)

In [ ]:
len("nikkhil")

7

In [ ]:
len(5)

TypeError: object of type 'int' has no len()

In [ ]:
lst = [1,2,3]
lst[3]

IndexError: list index out of range

In [ ]:
dic = {"name": "nikhil"}
dic["age"]

KeyError: 'age'

In [ ]:
int("xyz")

ValueError: invalid literal for int() with base 10: 'xyz'

In [ ]:
"hello".append("age")

AttributeError: 'str' object has no attribute 'append'

In [ ]:
try:
    # Code block where exception can occur
except ExceptionType:
    # Code to execute if there is an ExceptionType exception

In [ ]:
try:
  result = 20 /0
except ZeroDivisionError:
  print("Attempt to divide by zero will not work")

  #ZeroDivisionError: division by zero

Attempt to divide by zero will not work

In [ ]:
try:
    result = 20 / 0
except ZeroDivisionError:
    while True:
        pass   # infinite loop
#illogical bug

KeyboardInterrupt:

In [ ]:
try:
  print(nikhil)
except NameError:
  print("Variable of such name doesnt exist")

Variable of such name doesnt exist

In [ ]:
try:
  len(5)
except TypeError:
  print('wrong data type with len method')

wrong data type with len method

In [ ]:
try:
  print(lste)
  print(len(5))
except NameError:
  print("Variable of such name doesnt exist")
except TypeError:
  print("'wrong data type with len method'")

Variable of such name doesnt exist

In [ ]:
#nested try and except

try:
    file = open("data.txt", "r")
    try:
        content = file.read()
        print(content[1000])  # Might raise IndexError
    except IndexError:
        print("Inner except: Tried to access content beyond range")
    finally:
        file.close()
        print("Inner finally: File closed")
except FileNotFoundError:
    print("Outer except: File does not exist")

OOPs

In [ ]:
class Employee:
    name = "John"
    age = 26

#declare object using class employee
h1 = Employee() #object is the instance of the class

#print features
print(h1.name)
print(h1.age)

John
26

In [ ]:
class customer:
    def identity(self,name, age):
        print("I am a customer " + name)
        print("The age is ", age)

cust = customer() #declaration of object

cust.identity("NIkhil", 36)
cust.identity("Poonam", 32)
cust.identity("Sarvesh", 42)

I am a customer NIkhil
The age is  36
I am a customer Poonam
The age is  32
I am a customer Sarvesh
The age is  42

In [ ]:
class Customer:
    def set_details(self, new_name, new_age):
        self.name = new_name#declaring name attribute
        self.age = new_age#declaring age attribute

cust = Customer()#declaration of an object

cust.set_details("Nikhil", 36)
print(cust.name, cust.age)

cust.set_details("Poonam", 32)
print(cust.name, cust.age)

cust.set_details("Sarvesh", 42)
print(cust.name, cust.age)

Nikhil 36
Poonam 32
Sarvesh 42

In [ ]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

e1 = Employee("Sam", 36) #init is implicitly called
e2 = Employee("Rakesh", 42)
e3 = Employee("Aditya", 24)

print(e1.name, e1.age)
print(e2.name, e2.age)
print(e3.name, e3.age)

Sam 36
Rakesh 42
Aditya 24

In [ ]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def Print(self):#no parameters
        print("My name is ", self.name)
        print("My age is ", self.age)

p1 = Employee("NIkhil", 36).Print()
p2 = Employee("Prerna", 30)
p3 = Employee("Sriram", 26)
p4 = Employee("Mangesh", 18)
p5 = Employee("Shukla", 32)
p6 = Employee("Hari", 15)

p1.Print()
p2.Print()
p3.Print()
p4.Print()
p5.Print()
p6.Print()

My name is  NIkhil
My age is  36

In [ ]:
class Customer:
    def __init__(self, name, balance=0):
        self.name = name
        self.balance = balance

cust = Customer("Brain Lara")

print(cust.name, cust.balance)

Brain Lara 0

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

x = Person("John", "Doe")

x.printname()

John Doe

In [ ]:
class child(Person):
    pass

In [ ]:
y = Person("John", "Doe")

y.printname()

John Doe

In [ ]:
class child(Person):
    def __init__():
        pass

SyntaxError: incomplete input (3619039475.py, line 3)

In [ ]:
class Student(Person):#fname and lname
    def __init__(self, fname, lname, year):#year is the additional attribute
        Person.__init__(self, fname, lname)#additional call to the parent class

In [ ]:
#using the super function
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)#will come from the parent class