In [63]:
# python debugger module.
import pdb

In [46]:
class Person:
    # constructor
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def print(self):
        print(self.firstname, self.lastname)

x = Person("John", "Doe")

x.print()

John Doe

In [39]:
class child(Person):
    pass

In [40]:
#inheritance is lost if init constructor is used in child class
class child(Person):
   def __init__():
      print("initialized")

In [41]:
class Student(Person):#fname and lname
    def __init__(self, fname, lname, year):#year is the additional attribute
        Person.__init__(self, fname, lname)#additional call to the parent class

In [42]:
std1 = Student("jack","russ",2015)
std1.print()

jack russ

In [ ]:
class StudentV1(Person):#fname and lname
    def __init__(self, fname, lname, year):#year is the additional attribute
        super().__init__(fname, lname)#additional call to the parent class. #for super just put arguments
        self.grad_year = year

    #overwrite the one in parent class
    def print(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.grad_year)

In [45]:
std1 = StudentV1("jack","russ",2015)
std1.print()

Welcome jack russ to the class of 2015

In [ ]:
# Polymorphism - + operator is always concatenating
4+6

10

In [49]:
# Polymorphism - + operator is always concatenating
"jack"+"jill"

'jackjill'

In [50]:
tuple1 = (1,2,3)
tuple2 = (4,5,5)
tuple1 + tuple2

(1, 2, 3, 4, 5, 5)

In [51]:
len("joke")

4

In [52]:
len(tuple2)

3

In [53]:
len([4,5,5])

3

In [ ]:
tuple1 + "tuple2" # differrent data type cannot be concatenated.

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
# type is to let know the type of data type 
type(tuple2)

tuple

In [61]:
d=19
dv = 0
print(f"Values : {d},{dv}")
print(d/dv)

Values : 19,0

ZeroDivisionError: division by zero

In [62]:
dr = "10"
v =9
print(type(dr), type(v))

<class 'str'> <class 'int'>

**Python Debugger Inputs When paused, you can:**

* `n` → go to next line
* `c` → continue execution
* `p variable` → print variable value
* `q` → quit debugger

In [72]:
d=19
dv = 0
pdb.set_trace()
print(f"Values : {d},{dv}")
print(d/dv)

--Return--
None
> c:\users\user\appdata\local\temp\ipykernel_24296\2466969691.py(3)<module>()

In [74]:
d=19
dv = 0
print(f"Values : {d},{dv}")
print(d/dv)

Values : 19,0

ZeroDivisionError: division by zero

In [78]:
try :
    your_num = int(input("Enter number : "))
    print(f"100 / your_num = {100 / your_num}")
except ZeroDivisionError as zde:
    print(zde)
except ValueError as vlerror:
    print(vlerror)

division by zero

In [81]:
geog_loc = 564646565.8976555433897898798798879
type(geog_loc)

float

In [82]:
geog_loc = "564646565.8976555433897898798798879"
type(geog_loc)

str

In [91]:
# dictionary regular for-loop in traditional way
square_vals = {}
for num in range(6): #get 6 numbers starting from 0
    square_vals[num] = num**2

square_vals

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [94]:
# dictionary comprehension
#square_vals_dict_cmpr = { key : value  (expression : for item in iterable if condition) }
square_vals_dict_cmpr = { num : num**2 for num in range(6)  }
square_vals_dict_cmpr

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [95]:
# list comprehension
square_vals_list_cmpr = [num**2 for num in range(6)  ]
square_vals_list_cmpr

[0, 1, 4, 9, 16, 25]

In [97]:
# dictionary comprehension
#square_vals_dict_cmpr = { key : value  (expression : for item in iterable if condition) }
odd_square_vals_dict_cmpr = { num : num**2 for num in range(15) if num % 2 != 0  }
odd_square_vals_dict_cmpr

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169}

In [99]:
usd_fruit_prices = {"apple": 5, "banana": 7, "cherry": 9}
# create dictionary from existing dictionary values.
inr_fruit_prices = { item : 87.60 * price for item, price in usd_fruit_prices.items()}
inr_fruit_prices

{'apple': 438.0, 'banana': 613.1999999999999, 'cherry': 788.4}

In [105]:
text_str1 = "Hello How are you doing ?"
text_str1.count("?")

1

In [106]:
text_str1 = "Hello How are you doing ?"
character_count = {char : str(text_str1).count(char)   for char in text_str1}
print(character_count)

{'H': 2, 'e': 2, 'l': 2, 'o': 4, ' ': 5, 'w': 1, 'a': 1, 'r': 1, 'y': 1, 'u': 1, 'd': 1, 'i': 1, 'n': 1, 'g': 1, '?': 1}

In [111]:
std_marks = {"Raj": 85, "Gopi": 42, "Sharath": 77, "Ram": 93}
std_pssed_grades = { name : "passed"  for name, score in std_marks.items() if score >=50 }
std_pssed_grades

{'Raj': 'passed', 'Sharath': 'passed', 'Ram': 'passed'}

In [112]:
std_marks = {"Raj": 85, "Gopi": 42, "Sharath": 77, "Ram": 93}
std_pssed_scores = { name : score  for name, score in std_marks.items() if score >=50 }
std_pssed_scores

{'Raj': 85, 'Sharath': 77, 'Ram': 93}

In [126]:
import numpy as np # np_lib is a context manager

my_even_num_list = [304,506,1006,346]
print(f"my_even_num_list -> {my_even_num_list}")
print(f"type of my_even_num_list -> {type(my_even_num_list)}")


my_even_num_np_array = np.array(my_even_num_list)
print(f"my_even_num_np_array -> {my_even_num_np_array}")
print(f"type of my_even_num_np_array -> {type(my_even_num_np_array)}")
print(f"Shape of my_even_num_np_array -> {my_even_num_np_array.shape}")
print(f"Dimesnion of my_even_num_np_array -> {my_even_num_np_array.ndim}")

my_even_num_list -> [304, 506, 1006, 346]
type of my_even_num_list -> <class 'list'>
my_even_num_np_array -> [ 304  506 1006  346]
type of my_even_num_np_array -> <class 'numpy.ndarray'>
Shape of my_even_num_np_array -> (4,)
Dimesnion of my_even_num_np_array -> 1

In [ ]:
#multidimension arrays
my_even_num_list_2D = [[304,506],[1006,346],[568,890],[552,666],[660,662],[880,890]]
print("List - SubList : ",my_even_num_list_2D)

my_even_num_np_array_2D = np.array(my_even_num_list_2D)
print(f"\n my_even_num_np_array_2D ->\n {my_even_num_np_array_2D}")
print(f"\n type of my_even_num_np_array_2D -> {type(my_even_num_np_array_2D)}")
print(f"\n Shape of my_even_num_np_array_2D -> {my_even_num_np_array_2D.shape}")
print(f"\n Dimesnion of my_even_num_np_array_2D -> {my_even_num_np_array_2D.ndim}")

List - SubList :  [[304, 506], [1006, 346], [568, 890], [552, 666], [660, 662], [880, 890]]

 my_even_num_np_array_2D -> [[ 304  506]
 [1006  346]
 [ 568  890]
 [ 552  666]
 [ 660  662]
 [ 880  890]]

 type of my_even_num_np_array_2D -> <class 'numpy.ndarray'>

 Shape of my_even_num_np_array_2D -> (6, 2)

 Dimesnion of my_even_num_np_array_2D -> 2