In [61]:
# set() function - creates a unique set
empty_set = set()
empty_set

set()

In [62]:
set1 ={'green','456','IITM','456',456}
# Only unique values are taken. Auto removes duplicate elements
set1

{456, '456', 'IITM', 'green'}

In [63]:
lst1 =['green','456','IITM','456',456,'IITM','IITM','IITM']
# Only unique values are taken. Auto removes duplicate elements
setlst1 = set(lst1)
setlst1

{456, '456', 'IITM', 'green'}

In [64]:
set2 ={'green','456','IITM'}
set2

{'456', 'IITM', 'green'}

In [65]:
set2.add('IITD')
set2.add('IITC')
set2

{'456', 'IITC', 'IITD', 'IITM', 'green'}

In [66]:
set2.remove('IITD')
set2

{'456', 'IITC', 'IITM', 'green'}

In [3]:
for i in range(3):
    print(i)

print(range(3))

0
1
2
range(0, 3)

In [67]:
set2.discard('dummy')
set2

{'456', 'IITC', 'IITM', 'green'}

In [68]:
set2.discard('green')
set2

{'456', 'IITC', 'IITM'}

In [69]:
set2.clear()
set2

set()

In [70]:
mzset1 = {4,5,6}
mzset2 = {6,5,90}

In [71]:
# union - combines all unique values from 2 sets
print(mzset1 | mzset2)

{4, 5, 6, 90}

In [72]:
# intersection - gives common elements from 2 sets
print(mzset1 & mzset2)

{5, 6}

In [73]:
# differrence - identifies elements in 1st that are not in 2nd.
print(mzset1 - mzset2)
print(mzset2 - mzset1)

{4}
{90}

In [74]:
#symmetric differrence - return unique items in each set.
print(mzset1 ^ mzset2)

{90, 4}

In [ ]:
#set is not indexable and no mutable elements can be added.
mzset1(2)

TypeError: 'set' object is not callable